@import "../../styles/variables.scss";


.home-event {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

.joinTeamButton {
    cursor: pointer;
    background-color: $blueShade1;
    text-transform: uppercase;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    word-spacing: 2px;
    border-radius: 5px;
    a {
        color: $whiteShade1;
        text-decoration: none;
    }
}
.joinTeamButton:hover {
    background-color: $whiteShade1;
    a {
        color: $blueShade1;
    }
}
.TeamsHeading {
    text-transform: uppercase;
    color: $blueShade1;
    font-size: 25px;
}
.CoreTeam {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    .CoreTeam {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-gap: 0.5rem;
    }
}