@import "../../../../styles/variables.scss";

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.buttons {
    .coreTeamButton, .joinButton {
        height: 50px;
        width: 150px;
        text-align: center;
        background-color: $blueShade1;
        color: $whiteShade1;
        border: 1px solid $blueShade1;
        border-radius: 5px;
        padding: 13px;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: $whiteShade1;
            color: $blueShade1;
        }
    }
    .joinButton {
        a {
            color: $whiteShade1;
            text-decoration: none;
        }
        &:hover {
            background-color: $whiteShade1;
            a {
                color: $blueShade1;
                text-decoration: none;
            }
        }

    }
}