@import "../../../../styles/variables.scss";

.joinTeamButton {
    cursor: pointer;
    background-color: $blueShade1;
    color: $whiteShade1;
    text-transform: uppercase;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    word-spacing: 2px;
    border-radius: 5px;
}
.joinTeamButton:hover {
    background-color: $whiteShade1;
    color: $blueShade1;
}
.TeamsHeading {
    text-transform: uppercase;
    color: $blueShade1;
    font-size: 25px;
}
.CoreTeam {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}