@import "../../styles/variables.scss";

.home {
  width: 100vw;
  max-height: 100vh;
  overflow: auto;
}

@media screen and (max-width: 600px) {
  .home {
    width: 100vw;
    max-height: 100vh;
    overflow: auto;
  }
}
