.gallery {
    background: #eff0ff;

    .gallery-title {
        font-size: 30px;
        display: flex;
        justify-content: center;
        padding: 40px 0;
        font-weight: 800;
        background: -webkit-linear-gradient(91.3deg,
                #ba81ff -1.72%,
                #ff6a95 101.32%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .gallery-container {
        .gallery-image {
            display: flex;
            flex-direction: row;
            gap: 4rem;
            justify-content: space-between;
            padding: 0 4rem;
            padding-bottom: 4rem;
        }
    }
}

@media screen and (max-width: 600px) {
    .gallery {
        .gallery-title {
            font-size: 24px;
            padding: 20px 0;
        }

        .gallery-container {
            .gallery-image {
                flex-direction: column;
                gap: 2rem;
                padding: 0 2rem;
                padding-bottom: 2rem;
            }
        }
    }
}