@import "../../../../styles/variables.scss";

.home-gallery {
  width: 100%;
  background: #eff0ff;
  padding-top: 60px;
  padding-bottom: 50px;
  .heading {
    margin-bottom: 5rem;
    text-align: center;
    background: -webkit-linear-gradient(
      91.3deg,
      #ba81ff -1.72%,
      #ff6a95 101.32%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 46px;
    font-weight: 800;
  }
  .slideshow {
    .splide__list {
      gap: 2rem;
      .splide__slide {
      }
    }
  }
}
