@import "../../../../styles/variables.scss";

.home-title {
  width: 100%;
  aspect-ratio: 1440/885;
  background-color: $whiteShade1;
  background: url("../../../../assets/illustrations/illustration1_2.svg");
  background-repeat: no-repeat;
  background-position-y: -200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 140px;
  align-items: center;
  gap: 2rem;
  .heading1,
  .heading2 {
    font-size: 62px;
    font-weight: 800;
    letter-spacing: -2px;
  }
}
