@import "../../../../styles/variables.scss";
.home-community {
  width: 100%;
  padding: 40px;
  position: relative;
  background: linear-gradient(95.83deg, #ba81ff 0%, #ff6a95 100%);
  .heading {
    color: #fff;
    font-size: 46px;
    font-weight: 800;
    text-align: center;
  }
  .body {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    img {
      transform: scale(0.9);
    }
    .details {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 40%;
      margin-left: 2rem;
      .description {
        font-size: 24px;
        font-weight: 600;
        line-height: 37px;
        color: white;
      }
      .input-box {
        font-size: 14px;
        input {
          height: 40px;
          width: 200px;
          color: $black;
          border: none;
          padding-left: 20px;
          &:active,
          &:focus {
            outline: none;
            border: none;
          }
          &::placeholder {
            color: #474a57;
            line-height: 24px;
          }
        }
        button {
          background-color: black;
          outline: none;
          border: none;
          color: $whiteShade1;
          width: 100px;
          height: 40px;
          cursor: pointer;
          &:hover {
            filter: opacity(0.9);
          }
        }
      }
    }
  }
  .calendar {
    position: absolute;
    bottom: 10px;
    right: 20%;
  }
}
